div {
    display: inline-block;
    : 1px solid black;
    width: 100px;
    height: 100px;
}
.vermelho {
    background-color: rgb(241, 9, 9);
}
.canto {
    background-color: brown;
    border: 1px solid black;
}
.canto:hover {
    background-color: cyan;
}

.azul {
    background-color: blue;
}

#borda_preta canto {
border: 1px solid black;
}
.verde {
    background-color: chartreuse;
}
.amarelo {
    background-color: yellow;
}
.vermelho {
    background-color: rgb(243, 10, 10);
}
.canto {
    background-color: rgb(241, 9, 9);
    border: 1px solid black;
}